
.mainBox{
	display:block;
	width:1000px;
	margin-right:auto;
	margin-left:auto;	
	clear:both;
}	
.contentSection{
	display:inline-block;
	width:33%;
	background-color:grey;
	border-bottom: solid $secoundaryBD;
	float:left;
}

#personSection{
	height:260px;
	width:50%;
	background-color:white;
	padding-top:30px;
	background-image: url(http://mullarikoch.ee/app/uploads/2015/05/tamber-mullari-v.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.boxHeader{
	display:block;
	height:70px;
	width:100%;
	background-color:$primaryBD;
	text-align:center;
	float:left;
	color:white;
}
.boxTextSection{
	width:100%;
	height:330px;
	float:left;
	display:block;
	margin-top:25px;
	margin-bottom:25px;
	padding-right:20px;
	padding-left:20px;
}
.boxBlogList{
	width:100%;
	list-style: none;
	padding-left:0px;
}
.boxBlogList a{
	color:black;
}

.boxBlogList a:hover{
	color:$primaryBD;
}

.blogListUnit{
	border-bottom: solid grey;
	display:block;
	padding-bottom:10px;
	padding-top: 10px;
}
#white{
	background-color:white;
}
#grey{
	background-color:#f1f1f1;
}
#lightBlue{
background-color:$secoundaryBD;
}

.personTextSection{
	margin-left:20px;
}
.personTextSection ul{
	padding-left:20px;
}
.boxInputHeader{
	display: inline-block;
	vertical-align:middle;
}
.personImageBig{
	display:inline-block;
	width:50%;
}


.personImageBig img{
	z-index:-1;
    position: absolute;
    top: 140px;
    left: -120px;
}

.personTextSectionBig{
	float:right;
	display:inline-block;
	width:50%;
	padding-top:100px;
	padding-bottom:70px;
}

.careerInfo{
	display:block;
	margin-left:80px;
}
td {
    padding-top: 15px;
	padding-right: 15px;
    text-align: left;
}

.careerHeadings {
	font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
	color:$secoundaryBD;
}

.personName{
	color:$secoundaryBD;
}



.corporateText{
	background-color: white;
	float:left;
	display:inline-block;
	width:75%;
}

.cpText{
	margin-top:20px;
	margin-left:30px;
	margin-right:30px;
}




