body{
	background-image: url(http://mullarikoch.ee/app/themes/mk/dist/images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #121212;
	width:100%;
}

h1{
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

h2, h3, h4{
	font-weight: 700;
}

a{
	color:white;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
a:hover{
	color:black;
}
