.content-info{
	display:block;
	width:1000px;
	background-color:#00bbdc;
	margin-left:auto;
	margin-right:auto;
}
.footerInfo{
	height:100%;
	width:100%;
	padding-top:15px;
	padding-left:15px;
}
.footerText{
	color:white;
}