.corporateMenu{
	float:left;
	display:inline-block;
	width:25%;
	background-color: #f1f1f1;
}

.sideMenuList{
	list-style: none;
}

.sideMenuListUnit{
	margin-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	color:$primaryBD;
	text-align:right;
	border-bottom: solid grey;
	font-weight:700;
}

#lastUnit{
		border-bottom: none;
}